.checkbox__label {
  display: flex;
  justify-content: center;
  transition: opacity .2s;
}

.checkbox__label:hover {
  opacity: .8;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
  transition: opacity .2s;
}

.checkbox__inner {
  padding: 1px 0 0 48px;
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  z-index: -1;
}

.checkbox__inner::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 20px;
  border-radius: 18px;
  background-color: #343434;
  transition: background-color .2s;
}

.checkbox__inner::after {
  display: block;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #A0A0A0;
  left: 2px;
  top: 2px;
  transition: background-color .2s, left .2s;
}

.checkbox__input:checked + .checkbox__inner::before {
  background-color: #2BE080;
}

.checkbox__input:checked + .checkbox__inner::after {
  background-color: #fff;
  left: 18px;
}


@media screen and (max-width: 768px) {
  .checkbox {
    padding: 41px 70px 40px;
  }
}

@media screen and (max-width: 500px) {
  .checkbox {
    padding: 46px 70px 40px;
  }

  .checkbox__inner {
    font-size: 11px;
  }
}